extends layouts/main

block links
    link(rel="stylesheet", href="/css/pages/profile.css")

block content
    div.block.default-mg-t.default-mg-bt
        .container
            .profile-container
                .profile-header
                    .profile-header-top
                        .profile-picture
                            img(src=profileUser.avatar || "/images/default-pp.jpg")
                        .profile-infos
                            h2 #{profileUser.surname} #{profileUser.name}
                            .profile-buttons
                                if isOwnProfile
                                    button.button Edit profile
                                else
                                   button.button#followButton(
                                        data-user-id=profileUser._id
                                        data-following=isFollowing
                                    )
                                    if isFollowing
                                        | Unfollow
                                    else
                                        | Follow

                                    button.button.secondary Message
                        .profile-follows
                            .follows-info
                                p Followers
                                h3 #{followersCount}
                            .follows-info
                                p Following
                                h3 #{followingCount}
                            .follows-info
                                p Publications
                                h3 #{posts.length}
                    .profile-header-bot
                        .profile-nav
                            div.active All
                            div Post
                            div Images
                .profile-publications
                    each post in posts
                        .publications-box
                            .box-top
                                .top-date
                                    | #{new Date(post.createdAt).toLocaleDateString("fr-FR")} à #{new Date(post.createdAt).toLocaleTimeString("fr-FR", { hour: '2-digit', minute: '2-digit' })}


                                .top-settings
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333")
                                        path(d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z")
                            .box-bot
                                h3= post.title


block scripts
    script(src="/js/layouts/profile.js")