div.card-user
    .card-user-container
        .card-user-infos
            form.user-picture(action="/profile/avatar" method='POST' enctype="multipart/form-data")
                input(type="file" style="display: none" name="avatar" accept="image/*")
                if user.avatar
                    img(
                        src=user.avatar
                        alt="profile picture"
                        id="avatarPicture"
                    )
                else
                    img(
                        src="/images/default-pp.jpg"
                        alt="profile picture"
                        id="avatarPicture"
                    )

            .user-names
                .user-name
                    p #{user.name} #{user.surname}
                .user-username
                    p @#{user.username}
        .card-user-bio
            p Working on my project
            p Links: https://skydev.be
        .card-user-followers
            .followers-container
                .followers-box
                    h2 #{user.followers.length}
                    p Posts
                .followers-box
                    h2= user.followers.length
                    p Followers
                .followers-box
                    h2= user.following.length
                    p Following
            button.button New post
            .user-buttons
                button.button.secondary Edit profile
                button.button.secondary Settings
        .card-user-content
            
    script(src="/js/components/user/cardUser.js") 